

/* Reset && Generaò settings done by Foundation framework */

/* boxes & alignments */
.headStyle{background-color:#fff;}
.name{text-align:center;}
.valueRow{text-align:center;
		  border-bottom: 1px solid #ccc;
		  padding:2px;  		
		}
		
.valueRow.id{visibility:hidden;}
.valueRow.Name{  
				background-color: #09F;
				padding: 18px;
				color: #fff;
				font-weight: bold;
				border-radius: 20px;
				margin-bottom: 10px;
				}
				
.first{
	   width:15%;
	   display:block;
	   height:1px;
	   }
	   
.Aleft{
     display:block;
     width:0; 
     height:40px; 
     border-right:30px solid #999;
     border-top:26px solid transparent;
     border-bottom:20px solid transparent; 
	 float:left;
}

.Aright{
     display:block;
     width:0; 
     height:40px; 
     border-left:30px solid #999;
     border-top:26px solid transparent;
     border-bottom:20px solid transparent; 
	 float:right;
	 clear:right;	 
}


	   
/* Colours */

/* Mobile media queries */

#mobile_area{top:110px;}

